body {
    margin: 0px;
}

  
.title {
    position: relative;
    text-align: center;
    padding: 100px 20px;
    color: black;
}

.title::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('Images/logo.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: -1;
}


h1 {
    color: black;
    text-align: center;
    font: bold xxx-large sans-serif;
}

a {
    color: rgb(255, 147, 221);
    display: block;
    text-align: center;
}

p {
    color:black;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    font: medium sans-serif;
}

/* discography page */
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
}

.wrapper-item {
    border: 1px solid darkgray;
    margin: 10%;
    padding: 5%;
    border-radius: 20px;
    position: relative;
}

h3 {
    font: bold large sans-serif;
}

h4 {
    font: medium sans-serif;
    color: darkgrey;
}

.icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  